@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&display=swap");

:root {
  --cor0: #ecf0f3;
  --cor1: #052f43;
  --cor2: #cbced1;
  --cor3: #176da7;
  --fonte-destaque: "Merriweather Sans", sans-serif;
  --fonte-subtitulo: "Varela Round", sans-serif;
  --fonte-padrao: "Athiti", sans-serif;
}
body {
  margin: 0;
  background: var(--cor0);
  align-items: center;
  text-align: center;
  justify-content: center;
  place-items: center;
  font-family: var(--fonte-padrao);
  font-weight: 500;
}

header {
  background-color: var(--cor1);
  padding: 3rem;
  text-align: center;
  color: white;
}

.title {
  font-size: 36px;
  font-family: var(--fonte-destaque);
  text-transform: uppercase;
}

.container {
  position: relative;
  margin: auto;
  width: 100vw;
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
  background: var(--cor0);
  max-width: 600px;
}

.brand-title {
  margin-top: 10px;
  font-weight: 900;
  font-size: 1.8rem;
  color: black;
  letter-spacing: 1px;
  font-family: var(--fonte-subtitulo);
}

.inputs {
  text-align: left;
  margin-top: 40px;
}

label,
input,
button {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

label {
  margin: 8px 0px;
}

label:nth-of-type(2) {
  margin-top: 12px;
}

input::placeholder {
  color: gray;
}

input {
  background: var(--cor0);
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  box-shadow: inset 6px 6px 6px var(--cor2), inset -6px -6px 6px white;
}
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

button {
  margin-top: 20px;
  background-image: linear-gradient(to right, var(--cor1), var(--cor3));
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px var(--cor2), -6px -6px 6px white;
  transition: 0.5s;
  font-size: 18px;
  color: var(--cor0);
}

button:hover {
  box-shadow: none;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: absolute;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: var(--cor0);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

footer {
  background-color: var(--cor3);
  height: 117px;
  position: relative;
}

.creator {
  font-family: var(--fonte-destaque);
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
