@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&display=swap");

:root {
  --cor0: #ecf0f3;
  --cor1: #052f43;
  --cor2: #cbced1;
  --cor3: #176da7;
  --fonte-destaque: "Merriweather Sans", sans-serif;
  --fonte-subtitulo: "Varela Round", sans-serif;
  --fonte-padrao: "Athiti", sans-serif;
}
body {
  margin: 0;
  background: var(--cor0);
  align-items: center;
  text-align: center;
  justify-content: center;
  place-items: center;
  overflow: hidden;
  font-family: var(--fonte-padrao);
  font-weight: 500;
}

header {
  background-color: var(--cor1);
  padding: 3rem;
  text-align: center;
  color: white;
}

.title {
  font-size: 36px;
  font-family: "Merriweather Sans", sans-serif;
  text-transform: uppercase;
}

.container {
  position: relative;
  margin: auto;
  width: 600px;
  height: 500px;
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
  background: var(--cor0);
}

.brand-title {
  margin-top: 10px;
  font-weight: 900;
  font-size: 1.8rem;
  color: black;
  letter-spacing: 1px;
  font-family: var(--fonte-subtitulo);
}

.inputs {
  text-align: left;
  margin-top: 40px;
}

label,
input,
button {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

label {
  margin: 8px 0px;
}

label:nth-of-type(2) {
  margin-top: 12px;
}

input::placeholder {
  color: gray;
}

input {
  background: var(--cor0);
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  box-shadow: inset 6px 6px 6px var(--cor2), inset -6px -6px 6px white;
}

button {
  margin-top: 20px;
  background-image: linear-gradient(to right, var(--cor1), var(--cor3));
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px var(--cor2), -6px -6px 6px white;
  transition: 0.5s;
  font-size: 18px;
  color: var(--cor0);
}

button:hover {
  box-shadow: none;
}

footer {
  background-color: var(--cor3);
  margin-top: 148px;
  height: 100px;
}

.creator {
  font-family: var(--fonte-destaque);
  color: white;
  padding-top: 50px;
}
